Name: Stephen Atienza <br>
Course and Section: CPE32S9 <br>
Instructor: Engr. Roman Richard <br>

In [15]:
import numpy as np
import pandas as pd

SET C

Write a Python program using Pandas to select the rows the score is between 15 and 20 (inclusive).

In [16]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 9, 20, 14.5, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [20]:
Data = "exam_data"

In [21]:
Data2 = "labels"

In [ ]:
select data